<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>The Photopreneur</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/contact.css">
  <link rel="stylesheet" href="/stylesheets/register.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2216649902832615",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
      <!-- <div class="container"> -->
    <a class="navbar-brand font-weight-bold" href="/"><i class="fas fa-camera-retro"></i> The Photopreneur</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/categories" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form class="form-group" action="/categories" method="post">
            <button class="dropdown-item text-white" name="group" value="food" href="/categories">Food</button>
            <button class="dropdown-item text-white" name="group" value="people" href="/categories">People</button>
            <button class="dropdown-item text-white" name="group" value="random" href="/categories">Random</button>
            <button class="dropdown-item text-white" name="group" value="architectural" href="/categories">Architectural</button>
            <button class="dropdown-item text-white" name="group" value="goldenHour" href="/categories">Golden Hour</button>
            <button class="dropdown-item text-white" name="group" value="floraFauna" href="/categories">Flora & Fauna</button>
            </form>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> nav-item">
                      <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> nav-item">
                      <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign Up</a></li>
              <% } else { %>
                  <li><a class="nav-link text-capitalize" href="#"><i class="fas fa-user"></i> Signed In As <%= currentUser.username %></a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></i> Logout</a>
                  </li>
              <% } %>
      </ul>
  </div>
</nav>


<div class="container">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger">
           <p><%=error %></p>
       </div>
     <% } %>

     <% if(success && success.length > 0) { %>
       <div class="alert alert-success">
           <p><%= success %></p>
        </div>
     <% } %>
  </div>
