<% include partials/header %>

  <link rel="stylesheet" href="/stylesheets/categories.css">

  <h1 class="text-center">CATEGORIES</h1>
 <div class="text-center">
  <input type="radio" name="group" id="all-btn" value="all" checked="checked">
  <label for="all-btn">All</label>

  <input type="radio" name="group" id="food-btn" value="food">
  <label for="food-btn">Food</label>

  <input type="radio" name="group" id="people-btn" value="people">
  <label for="people-btn">People</label>

  <input type="radio" name="group" id="golden-btn" value="goldenHour">
  <label for="golden-btn">Golden Hour</label>

  <input type="radio" name="group" id="architectural-btn" value="architectural">
  <label for="architectural-btn">Architectural</label>

  <input type="radio" name="group" id="floraFauna-btn" value="floraFauna">
  <label for="floraFauna-btn">Flora & Fauna</label>

  <div class="gallery">
    <% photos.forEach(function(value){ %>
            <button type="button" class="gallery-item <%=value.tag%> " data-toggle="modal" data-target="#<%=value.tag%>">
              <img src="<%=value.imgURL%>" class="gallery-item <%=value.tag%>">
            </button>
            <!-- Modal -->
            <div class="modal fade" id="<%=value.tag%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%=value.tag%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="<%=value.imgURL%>" alt="Test">
                    <p><%=value.description%></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form method="get" action="/categories/<%=value._id%>">
                    <button type="submit" class="btn btn-primary">More Info</button>
                  </form>
                  </div>

                </div>
              </div>
            </div>
    <% }); %>
   </div>


<!--Scripts -->

<% include partials/footer %>
