<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/categories.css">

<h1 class="text-center display-3">CATEGORIES</h1>
<div class="text-center">

  <form class="form-group" action="/categories" method="post">
    <button class="btn" id="all-btn" name="group" href="/categories" value="random">Random</button>
    <button class="btn" id="food-btn" name="group" href="/categories" value="food">Food</button>
    <button class="btn" id="beach-btn" name="group" href="/categories" value="beach">Beach</button>
    <button class="btn" id="people-btn" name="group" href="/categories" value="people">People</button>
    <button class="btn" id="golden-btn" name="group" href="/categories" value="goldenHour">Golden Hour</button>
    <button class="btn" id="architectural-btn" name="group" href="/categories" value="architectural">Architectural</button>
    <button class="btn" id="floraFauna-btn" name="group" href="/categories" value="floraFauna">Flora & Fauna</button>
  </form>
  <div id="page" class="gallery">
    <% photos.forEach(function(value){ %>
      <button style="padding: 0;border-radius: 0;" type="button" class="gallery-item textOverImage" data-toggle="modal" data-target="#<%=('a' + value.fileName).slice(0,-4)%>">
        <img src="<%=value.smallImgURL%>" class="gallery-item rounded" style="border: 4px solid black;">
        <%console.log(value)%>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="<%=('a' + value.fileName).slice(0,-4)%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">File: <%=value.fileName%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="<%= value.orientation === true ? 'horizontal' : 'vertical' %> rounded" src="<%=value.smallImgURL%>" alt="Test">
              <!--  -->
              <p><%=value.description%></p>
            </div>
            <div class="modal-footer">
              <span class="text-left"><i class="fa fa-eye" aria-hidden="true"></i><%=" "+value.views+" "+"Views"%></span>
              <form class="text-left" action="/categories/<%=value._id%>/act" method="post">
                <button class="btn" type="submit"><i class="fa fa-thumbs-up" aria-hidden="true">
                </i> <%=value.like %></button>
              </form>
              <button type="button" class="btn btn-secondary"><i class="fa fa-share" aria-hidden="true"></i> Share</button>
              <form method="get" action="/categories/<%=value._id%>">
                <button type="submit" class="btn btn-primary"><i class="fa fa-info" aria-hidden="true"></i> More Info</button>
              </form>
            </div>

          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li id='next-page page-item'><a class='page-link' href='javascript:void(0)' aria-label=previous><span aria-hidden=true>&laquo;</span></a></li></ul>
      </nav>
      <!--Scripts -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script type="text/javascript" src="/js/categories.js"></script>
      <% include partials/footer %>
