<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/categories.css">

<h1 class="text-center display-3 text-white pt-4" style="font-family: 'Pacifico', cursive;">Categories</h1>
<div class="text-center pt-4">

  <form class="form-group" action="/categories" method="post">
    <button class="btn my-btn btn-lg mb-4 mx-1 " id="food-btn" name="group" value="food">Food</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="lights-btn" name="group" value="lights">Lights</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="people-btn" name="group" value="people">People</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="travel-btn" name="group" value="travel">Travel</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="beach-btn" name="group" value="beach">Beaches</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="all-btn" name="group" value="random">Random</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="structures-btn" name="group" value="structures">Structures</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="floraFauna-btn" name="group" value="nature">Nature</button>
    <button class="btn my-btn btn-lg mb-4 mx-1" id="golden-btn" name="group" value="golden">Golden Hour</button>
  </form>
</div>
  <div id="page" class="gallery container-fluid">
    <% photos.forEach(function(value){ %>
      <button style="padding: 0;border: 0;" type="button" class="gallery-item textOverImage rounded" data-toggle="modal" data-target="#<%=('a' + value.fileName).slice(0,-4)%>">
        <img style="border: 0;" src="<%=value.smallImgURL%>" class="gallery-item rounded" alt="Error in loading Image">
        <%console.log(value)%>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="<%=('a' + value.fileName).slice(0,-4)%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">Location: <%=value.location%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body imgbox">
              <img class="center-fit <%= value.orientation === true ? 'horizontal' : 'vertical' %> rounded img-fluid" src="<%=value.largeImgURL%>" alt="Test" >
            </div>
            <div class="modal-footer">
              <span class="text-left"><i class="fa fa-eye" aria-hidden="true"></i><%=" " + value.views + " " + "Views"%></span>
              <form method="get" action="/categories/<%=value._id%>">
                <button type="submit" class="btn btn-primary"><i class="fa fa-info" aria-hidden="true"></i> More Info</button>
              </form>
            </div>

          </div>
        </div>
      </div>
      <% }); %>
    </div>

      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li id='previous-page'><a class='page-link' aria-label=previous><span aria-hidden=true>&laquo;</span></a>
          </li>
        </ul>
      </nav>
      <!--Scripts -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script type="text/javascript" src="/js/categories.js"></script>
      <% include partials/footer %>
