<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/show.css">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>
<div class="container">
  <br class="br">
  <div class="row">
    <div class="col-md-8">
      <div class="flex-row d-flex justify-content-center">
        <img class="figure-img img-fluid rounded" src="<%=photo.smallImgURL%>" alt="" style="">
      </div>
      <div class="flex-row d-flex justify-content-center">
        <div class="col col-md-12 d-flex justify-content-center">
          <a class="btn btn-sm btn-success mr-3" href="/download/<%=photo._id%>" role="button">Download <i class="fas fa-download"></i></a>



          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-success mr-3" data-toggle="modal" data-target="#exampleModalCenter">Share <i class="fa fa-share" aria-hidden="true"></i>
          </button>


          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center" style="color: black;" id="exampleModalLongTitle">Say thanks to Photopreneur!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- <h5 class="text-center" style="color: black;">Our creators would love to hear from you and seeing how you are using photos. Show your appreciation by sharing and following!</h5> -->
                  <h5 class="text-center" style="color: black;">Share functionality Coming Soon</h5>
                    <div class="fb-share-button" data-href="http://13.233.115.76:3000/<%=photo.imgLargeURL%>" data-layout="button_count" data-size="small">
                    </div>
                  <!-- <button type="button" class="btn btn-primary" name="button">Instagram</button> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <h4 class="figure-caption float-right pt-2 mr-3 text-white"><i class="fa fa-eye" aria-hidden="true"></i><%=" "+photo.views+" "+"Views "%></h4>
        </div>
      </div>
      <div class="opaque px-4 py-3 m-4 rounded">
        <% if(photo.comments.length!=0){ %>
          <h4 class="font-weight-normal"><span class="badge badge-dark font-weight-normal">Comments <span class="badge badge-light"><%= photo.comments.length %></span></span></h4>
          <% photo.comments.forEach(function(comment){ %>
            <div class="row px-2">
              <div class="col-md-12 pt-2">
                <h5 class="text-capitalize"><strong><%=comment.author.username %></strong></h5>
                <span class="float-right"><%=comment.date.toDateString().slice(4,) + " " + comment.date.toLocaleTimeString()%></span>
                <h6> <%=comment.text%></h6>
              </div>
            </div>
            <% }) %>
            <hr class="hr">
            <% } %>

            <h4 class="text-center font-weight-bold pt-2">Your Thoughts!!</h4>
            <form class="" action="/categories/<%=photo._id%>/comment" method="post">
              <div class="form-group  pt-2">
                <input class="form-control" type="text" name="comment[text]" placeholder="Thoughts!!">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit!</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pb-3">
            <h3 class="text-center">Location</h3>
            <hr>
            <div class="rounded" id="map" style="width: 100%; height: 400px;background-color: grey;"></div>
          </div>
          <div class="opaque rounded mx-5">
              <p class="lead text-center pt-3">Tags Used</p>
              <% photo.tags.forEach(function(tag){ %>
                  <div class="btn-group px-2 pb-3 text-center">
                      <button class="btn btn-light btn-sm" >
                        <%=tag%>
                      </button>
                  </div>

                <% }) %>
          </div>


            <div class="py-3">
              <h5 class="text-center">If you would like to credit the Photo, here are some ways you can do so!!</h5>
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-text" role="tab" aria-controls="nav-home" aria-selected="true">Text</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-image" role="tab" aria-controls="nav-profile" aria-selected="false">Image</a>
                </li>
              </ul>

                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-text" role="tabpanel" aria-labelledby="nav-home-tab">
                      <p>Preview:</p><a target="_blank" href="http://localhost:3000/categories/<%=photo._id%>">The Photopreneur</a>
                      <hr>
                      <p>Click below to copy the code:</p>
                      <textarea  onclick="copyText('text')" id="inputText" class="form-control" name="name" rows="6" cols="50"><span class="btn btn-link" ><span><a target="_blank" href="http://localhost:3000/categories/<%=photo._id%>">The-Photopreneur</a></span></span>
                      </textarea>
                    </div>
                    <div class="tab-pane fade" id="nav-image" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <strong>Preview</strong>
                      <hr>
                      <img class="" src="http://localhost:3000/<%=photo.largeImgURL%>" alt="" style="margin: 0px; width: 20%;height: 20%;">
                      <hr>
                      <strong>Click below to copy the code:</strong>
                      <textarea onclick="copyText('html')" id="inputHtml" class="form-control"name="name" rows="10" cols="50"><span><span style="margin:0 0 20px 0;display:inline-block;vertical-align:middle"><a target="_blank" href="http://localhost:3000/categories/<%=photo._id%>" style="text-decoration:none;font-size:10px;margin:0"><img src="http://localhost:3000<%=photo.largeImgURL%>" style="margin:0;width:100%" alt=""/><p style="font-size:12px;margin:0">The Photopreneur</p></a></span></span></textarea>
                    </div>
                  </div>


            </div>
          </div>

        </div>
      </div>




      <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: <%=photo.latitude%>, lng: <%=photo.longitude%>};
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});
        }
        function copyText(value) {
          /* Get the text field */
          if(value == 'html'){
            var copyText = document.getElementById("inputHtml");
          }else {
            var copyText = document.getElementById("inputText");
          }
          console.log(copyText);
          /* Select the text field */
          copyText.select();

          /* Copy the text inside the text field */
          document.execCommand("copy");

          /* Alert the copied text */
          alert("Copied the text: " + copyText.value);
        }

        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=******apiKey*******&callback=initMap">
        </script>

        <% include partials/footer %>
